{% extends "base.html" %}
{% block body %}
{% from 'macros.html' import render_pagination %}

<h1>{{ _('Crawl LOG') }}</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>{{ _('Name') }}</th>
        <th>{{ _('SHA256 Sum') }}</th>
        <th>{{ _('Blacklist items') }} </th>
        <th>{{ _('Signed') }}</th>
        <th>{{ _('Downloaded via SSL') }}</th>
        <th>{{ _('Size') }}</th>
        <th>{{ _('Title') }}</th>
        <th>{{ _('Author') }}</th>
        <th>{{ _('Creator') }}</th>
        <th>{{ _('Pages') }}</th>
        <th>{{ _('Updated') }}</th>
        <th>{{ _('Created') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in pagination.items %}
    <tr>
        <th scope="row">{{item.id}}</th>
        <td><a href="{{ url_for('static', filename='pdf/{}.pdf'.format(item.sum))}}" target="_blank">{{item.name}}</a></td>
        <td>{{item.sum}}</td>
        <td>{{item.blacklist.count()}}</td>
        <td>{{item.signed|format_boolean|safe}}</td>
        <td>{{item.ssl|format_boolean|safe}}</td>
        <td class="text-nowrap">{{item.size|format_bytes}}</td>
        <td>{{item.title}}</td>
        <td>{{item.author}}</td>
        <td>{{item.creator}}</td>
        <td>{{item.pages}}</td>
        <td>{{item.updated|format_datetime}}</td>
        <td>{{item.created|format_datetime}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="text-center">
{{render_pagination(pagination)}}
</div>
{% endblock %}
