{% extends "base.html" %}
{% from 'macros.html' import render_pagination %}
{% from "_formhelpers.html" import render_field %}
{% block body %}

<h1>{{ _('Blacklist') }} <a class="btn btn-default btn-lg" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
    <i class="fa fa-search" aria-hidden="true"></i>
</a>
</h1>


<div class="collapse {%if filtered%}in{% endif %}" id="collapseFilter">
    <div class="well">
        <form method="post" role="form" action="{{url_for('home.index.get_home')}}">
            {% if form.errors %}
            <div class="alert alert-danger">
                There was some errors when proccesing a form.
                {% for field, errors in form.errors.items() %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    {{render_field(form.dns, 'form-group', _('DNS'))}}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    {{render_field(form.redirects_to, 'form-group', _('Redirects'))}}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    {{render_field(form.a, 'form-group', _('IPv4'))}}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    {{render_field(form.aaaa, 'form-group', _('IPv6'))}}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    {{render_field(form.bank_account, 'form-group', _('Bank account'))}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    {{form.reset(class_="btn btn-default btn-block")}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    {{form.filter(class_="btn btn-primary btn-block")}}
                </div>
            </div>
        </form>
    </div>
</div>


<table class="table table-hover table-bordered {% if block_test_enabled %}test-enabled{% endif %}">
    <thead>
    <tr>
        <th colspan="9" class="text-center">Item info (Displaying {{pagination.items|length}} of {{pagination.total}} items)</th>
        <th colspan="1" class="text-center">Blocking request info</th>
    </tr>
    <tr>
        <th>#</th>
        <th>{{ _('Image') }}</th>
        <th>{{ _('DNS') }}</th>
        <th>{{ _('Bank account') }}</th>
        <th>{{ _('Resolved IPs') }}</th>
        <th>{{ _('Note') }}</th>
        <th class="text-center">{{ _('Your provider blocking status') }}
            <br>
            <a href="{{url_for('home.index.test_enable')}}" class="confirm btn btn-xs btn-success {% if block_test_enabled %} hidden{% endif %}" data-confirm-message="{{_('This will enable website block testing, testing images will be downloaded from blacklisted domains by your browser to test if it will be blocked by your Internet provider. This test may leak some information about you (IP, UserAgent) to the tested website.')}}">Enable block test</a>
            <a href="{{url_for('home.index.test_disable')}}" class="btn btn-xs btn-danger {% if not block_test_enabled %} hidden{% endif %}">Disable block test</a>
        </th>
        <th>{{ _('Updated') }}</th>
        <th>{{ _('Created') }}</th>
        <th>{{ _('Published') }}</th>
        <!--th class="text-center">{{ _('Valid PDF signature') }}</th>
        <th class="text-center">{{ _('Valid source SSL') }}</th>
        <th class="text-center">{{ _('Trustful') }}</th-->
    </tr>
    </thead>
    <tbody>
    {% for item in pagination.items %}
    <tr>
        <th scope="row">{{item.id}}</th>
        <td>{% if item.thumbnail %}<a href="{{ url_for('static', filename='img/thumbnails/{}.png'.format(item.id))}}" title="{{item.dns}}" data-toggle="lightbox" data-width="1024"><img src="{{ url_for('static', filename='img/thumbnails/thumbnail_{}.png'.format(item.id))}}" alt="{{item.dns}}" width="100" height="200"></a>{% endif %}</td>
        <td>
            <a href="{{item.dns|fix_url}}" title="{{_("Blocked DNS")}}" target="_blank">{{item.dns}}</a>
            {% if item.redirects_to %}
                <br>
                <i class="fa fa-arrow-right"></i>
                <br>
                <a href="{{item.redirects_to|fix_url}}" title="{{_("Redirects to %(url)s", url=item.redirects_to)}}" target="_blank">{{item.redirects_to}}</a>
            {% endif %}
        </td>
        <td>{{item.bank_account}}</td>
        <td>IPv4:{{item.a}} <br> IPv6:{{item.aaaa}}</td>
        <td>{{item.note}}</td>
        <td class="text-center"><div class="label blocking-status {% if block_test_enabled %}label-info{% else %}label-default{% endif %}" data-url="{{url_for('api.index.get_image', blacklist_id=item.id)}}" data-result="{{url_for('api.index.log_blocks', blacklist_id=item.id)}}">{{_('Testing...' if block_test_enabled else 'Block test is disabled...')}}</div></td>
        <td>{{item.updated|format_datetime}}</td>
        <td>{{item.created|format_datetime}}</td>
        <td>
            {{ _('DNS') }}: {{item.dns_date_published|format_date}} - {{item.dns_date_removed|format_date if item.dns_date_removed else '∞'}}<br>
            {{ _('Bank account') }}: {{item.bank_account_date_published|format_date}} - {{item.bank_account_date_removed|format_date if item.bank_account_date_removed else '∞'}}
        </td>
        {% set last_pdf = item.pdfs.first() %}
        <!--td class="text-center">{{last_pdf.signed|format_boolean|safe}}</td>
        <td class="text-center">{{last_pdf.ssl|format_boolean|safe}}</td>
        <td class="text-center">{{(last_pdf.ssl or last_pdf.signed)|format_boolean|safe}}</td-->
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="text-center">
{{render_pagination(pagination)}}
</div>
{% endblock %}
